snippet react
	import React, { Component, PropTypes } from 'react';

	/**
	 * ${1}
	 *
	 * @author John Noel <john.noel@${2:rckt.co.uk}>
	 * @package ${3}
	 */
	class ${4:} extends Component {
		render() {
			return <div />;
		}
	}

	export default $4;
