snippet php "PHP header" b
<?php
/**
 * $1
 *
 * @version 1.0
 * @author John Noel <john.noel@${3:rckt.co.uk}>
 * @package $2
 * @subpackage $3
 */

namespace `!v substitute(substitute(expand('%:h'), '\/', '\\', 'g'), '^src\\', '', '')`
endsnippet
